html(ng-app="mymarket")
  head
    meta(charset="utf-8")
    meta(content="Visiotrade", name="author")
    meta(name="viewport", content="width=device-width")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=yes")
    meta(name="ms.locale", content="en")
    meta(content="Buy or sell your products and services around you", name="description")
    link(rel="icon", type="image/png", href="/img/favicon.png")
    link(rel="apple-touch-icon", href="/img/favicon.png")
    title Welcome to Visiotrade, Buy and sell in #{city} 
    each script in scripts
      script(src=script)
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
  body(ng-controller="AppCtrl")
    header.header
      h1.header__logo
        img(src="/img/logo.png")
        span#city #{city} 
        span#total_connected {{total_connected}}
    block content
