html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "SS Standard";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ss-standard.eot');
  src: url('../fonts/ss-standard.eot?#iefix') format('embedded-opentype'), url('../fonts/ss-standard.woff') format('woff'), url('../fonts/ss-standard.ttf') format('truetype'), url('../fonts/ss-standard.svg#SS Standard') format('svg'); }

body {
  font-family: "Open sans", sans-serif;
  background: #f3f3f3; }

a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

b {
  font-weight: bold;
}
.header {
  background: #242424;
  position: relative;
  box-shadow: 0 1px 0 black; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.header__logo {
  font-size: 36px;
  color: #fff;
}
  .header__logo img {
    display: inline-block;
    margin: 8px 8px;
    vertical-align: text-top;
    height: 30px    }

#city {
  color: white;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: bottom;
  margin-left: 0px; }

#total_connected {
  color: #fff; }

.ss-icon, #nav-toggle {
  font-family: 'SS Standard';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased; }

.tab-bar {
  background: white;
  border-bottom: 1px solid #dbdbdb; }
  .tab-bar:after {
    content: "";
    display: table;
    clear: both; }
  /*
  @media screen and (min-width: 1000px) {
    .tab-bar {
      display: none; } }*/
  .tab-bar .tab-bar__tab {
    float: left;
    border-right: 1px solid #ebebeb; 
  }

    @media screen and (max-width: 600px) {
      .tab-bar .tab-bar__tab {
        width: 25%; 
      } 
    }    
  .tab-bar .tab-bar__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #aaaaaa;
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none; }

    @media screen and (min-width: 600px) {
      .tab-bar .tab-bar__link {
        padding: 0 3em; } }

    .tab-bar .tab-bar__link.is-active {
      background: #f5f5f5;
      color: black; }

.tab-pane {
  display: none; }
  /*@media screen and (min-width: 1000px) {
    .tab-pane {
      display: block; } }*/
  .tab-pane.is-active {
    display: block; }
#nav-toggle {
  position: absolute;
  line-height: 40px;
  text-decoration: none;
  color: #fafafa;
  padding: 0 1em; }

@media screen and (min-width: 40em) {
  .header__nav {
    position: relative; }

  .header__nav.closed {
    max-height: none; }

  #nav-toggle {
    display: none; } }
/*
.tab-pane-pattern, .chat {
  width: 90%;
  height: 90%;
  margin: 20px auto 0px auto; }
*/
.tab-pane__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.1em; }

.channels-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
  .channels-list:after {
    content: "";
    display: table;
    clear: both; }

.chan {
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  border-radius: 3px;
  overflow: hidden;
  background: #FAFAFA;
  border: 1px solid #DDD;
  box-shadow: 0 2px 0 #DDD, 0 3px 0 #CCC; }
  .chan a {
    text-decoration: none;
    color: #212121;
    display: inline-block; }
  .chan.is-active {
    background: #333;
    border: 1px solid #333;

  }
  .chan.is-active a {
    color: white; }

.chan__name, .chan__nb-users, .chan__nb-pois {
  display: inline-block;
  padding: .5em .6em; }

.chan__name {
  font-weight: 300;
  border-right: 1px solid #DDD;
  background: #FFF; }
  .chan.is-active .chan__name {
    background: #339999;
    border-right: 1px solid rgba(255, 255, 255, 0.3); }

.chan__nb-users, .chan__nb-pois {
  color: #888;
  font-size: 13px; }
  .chan.is-active .chan__nb-users, .chan.is-active .chan__nb-pois {
    color: white; }
  .chan__nb-users i, .chan__nb-pois i {
    display: inline-block;
    margin-right: .4em;
    position: relative;
    top: 1px; }

.message {
  font-size: 14px;
  line-height: 1.4;
  background: #FFF;
  padding: .8em 1em;
  margin-bottom: 1em;
  border: 1px solid #DDD;
  overflow: hidden;
  position: relative; }

.message__user {
  display: block;
  font-weight: 400;
  margin-bottom: .5em;
  font-size: 17px; }

.message__content {
  color: #666;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.message__content a {
    color: #AAA;
    text-decoration:none;
}

.poi-attach {
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 5px;
  display: inline-block;
  color: #AAA; }
  .poi-attach i {
    display: inline-block;
    margin-right: 4px; }

.timeago {
  position: absolute;
  font-size: 12px;
  right: 10px;
  bottom: 5px;
  display: inline-block;
  color: #AAA; }
  .timeago i {
    display: inline-block;
    margin-right: 4px; }

a.message__hash {
  display: inline-block;
  color: #212121;
  padding: .3em .6em;
  background: #FAFAFA;
  border: 1px solid #EEE;
  margin-left: .6em;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 #EEE; }
  a.message__hash:hover {
    background: #f5f5f5;
    color: #3b3b3b; }

.sell {
  border-left: 5px solid #07F;
}
.buy {
  border-left: 5px solid #F70;
}
.btn:hover, .btn:active {
  background-color: #F70;
}
.btn {
  background-color: #339999;
  color: #fff;
  font-size: 13px;
  border: none;
  height: 30px;
  min-width: 75px;
}
.btn.buy {
  background-color: #F70;
}
.btn.add {
  font-weight:bold;
  float: right;
}
.top-bar {
  position: absolute;
  top: 10px;
  right: 20px;
}
.panel-animate-enter, .panel-animate-leave { 
    -webkit-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
} 
 
.panel-animate-enter {
    top: 100%;
}
.panel-animate-enter.animate-enter-active {
    top: 0;
}
 
.panel-animate-leave {
    top: 0;
}
.panel-animate-leave.animate-leave-active{
    top: -100%;
}

#panel-add {
  /*display: none;*/
  background-color: rgba(0,0,0,0.3);
  position: fixed;  
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; 
}
.post {
}

.poi-search {
  z-index: 3;
  position: absolute;
  height: 140px;
  width: 300px;
  /*top: -145px;*/
  background: #FFF;
  right: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out; }
  @media screen and (max-width: 500px) {
    .poi-search {
      width: 100%;
      /*top: -125px;*/
      height: 120px;
      right: 0px; }
      .poi-search:before, .poi-search:after {
        display: none; } }
  .poi-search.is-hidden {
    /*top: 0px;*/
    opacity: 0;
    pointer-events: none; }
  .poi-search i.ss-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #FFF; }

.poi-search__input {
  border: none;
  padding: .6em 1em;
  font-size: 13px;
  color: #FFF;
  height: 40px;
  background: #999;
  width: 100%; }
  .poi-search__input:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
  .poi-search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .poi-search__input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .poi-search__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  .poi-search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }

.post__message {
    background: white;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width:50%;
    z-index: +10000;
    margin:auto;
    padding-bottom:10px;
}

.post__message h2 {
    background: black;
    padding: 13px 35px 8px 31px;
    text-align: center;
    margin: 0 0 20px;
    color: white;
}

.post__message .description {
    padding: 0px 0px 0px 20px;
    line-height:30px;
}
  @media screen and (max-width: 890px) {
    .post__message {
      width: 85%; } }
  .post__message textarea {
    width: 250px;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    border: none;
    padding: 5px 50px 5px 10px;
    margin: 0;
   }
    .post__message textarea:focus {
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }
  .post__message .svg-icon {
    cursor: pointer;
    opacity: .6; }
    .post__message .svg-icon:hover {
      opacity: 1; }

.poi-search__results {
  overflow-y: scroll;
  height: 82px; }

.poi-search__name {
  font-size: 12px;
  margin: 0 0 3px;
  padding: .3em .4em;
  display: block;
  cursor: pointer; }
  .poi-search__name:hover {
    background: #F2F2F2; }
  .poi-search__name:active {
    background: #339999;
    color: white; }

.post__poi {
  position: absolute;
  right: 60px;
  top: 13px;
  font-size: 12px;
  display: inline-block;
  padding: .4em 1em .4em 1.2em;
  background: #F2F2F2;
  border: 1px solid #DDD; }
  @media screen and (max-width: 750px) {
    .post__poi {
      right: 0px;
      top: -28px;
      background: #FFF; } }
  @media screen and (max-width: 450px) {
    .post__poi {
      right: 0px;
      top: -28px;
      background: #FFF;
      font-size: 13px; } }
  .post__poi i {
    position: relative;
    left: -.4em;
    top: 2px;
    color: #AAA;
    cursor: pointer; }
    .post__poi i:hover {
      color: #555; }

.button-squared, .post__submit {
  text-decoration: none;
  background: #339999;
  color: white; }

.post__submit {
  float: right;
  width: 10%;
  display: block;
  font-size: 18px;
  border: none;
  font-weight: 500;
  cursor: pointer; }
  .post__submit i {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 2px; }
  @media screen and (max-width: 890px) {
    .post__submit {
      width: 15%; } }
  @media screen and (max-width: 550px) {
    .post__submit {
      font-size: 14px; } }
  @media screen and (max-width: 460px) {
    .post__submit {
      font-size: 18px; }
      .post__submit span {
        display: none; }

      .post__submit i {
        margin-right: 0px; } }

.angular-google-map {
  display: block;
  height: 90%;
  width: 100%; }

/*@media screen and (min-width: 1000px) {
  .chat {
    width: 50%;
    padding: 0 20px;
    float: left;
    overflow: scroll;
    padding-bottom: 120px; } }

@media screen and (min-width: 1000px) {
  .map {
    width: 50%;
    float: left;
    position: sticky; } }
*/
.modal {
  width: 98%;
  max-width: 400px;
  margin: 0 auto;
  background: #FFF;
  padding: 20px;
  border: 1px solid #DDD;
  text-align: center;
  z-index: 10;
  position: fixed;
  top: 50%;
  margin-top: -83px;
  left: 50%;
  margin-left: -200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 500px) {
    .modal {
      height: 100%;
      min-height: 100%;
      position: fixed;
      top: 5px;
      bottom: 5px;
      left: 1%;
      right: 1%;
      margin: 0px;
      z-index:10px; 
       } }

.modal__title {
  font-weight: 500;
  font-size: 18px; }

.modal__input, .modal__submit {
  padding: .7em 1.2em;
  margin-top: 14px;
  font-size: 13px; }

.modal__input {
  width: 80%;
  border: 1px solid #DDD; }
  .modal__input:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

.modal__submit {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #339999;
  color: white;
  cursor: pointer; 
  float:right;}

.message-list-item {
  margin-bottom: 10px;
  margin-right: 20px;
 }

 .message-list-item img{
  max-height:100px;
 }

.slide-enter, .slide-leave {
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 0.4s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 0.4s cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }

.slide-leave, .slide-enter.slide-enter-active {
  max-height: 100%;
  opacity: 1; }

.slide-enter, .slide-leave.slide-leave-active {
  opacity: 0;
  max-height: 0px; }

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 300ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
} 
 
.animate-leave {
    top: 100%;
}
.animate-leave.animate-leave-active {
    top: 42px;
}
 
.animate-enter {
    top: 42px;
}
.animate-enter.animate-enter-active{
    top: -100%;
}
.notifs {
  background-color: red;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: +1000;
  text-align:center;
  font-size:14px;
}
.notif {
  padding: 5px; 
}

.notif a{
  color: white;
}

.me-block {
  font-size: 14px;
  line-height: 1.4;
  background: #FFF;
  padding: .8em 1em;
  margin: 20px;
  border: 1px solid #DDD;
  padding-left: 10px;
}
.me-block h1{
  background: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  margin: 0 0 10px;
}

/*
  Jay was here
  And certainly broke things...
*/
.chat {
  padding: 5px;
}
  .chat .author {
    font-weight: bold;
    color: #339999;
  }

.cams-container {
  display: block;
}
.cams {
  padding-right: 5px;
  display: inline;
}
.cams video {
  border: 1px solid gray;
  width: 310px;
  height: 235px;
  margin-bottom: 20px;
  background: transparent url(/img/visio.jpg) no-repeat center center;
  background-size: 150px;
}
  #chat .chat-control {
      margin: 20px 0 30px 0;
  }
  #chat input[type="text"] {
    padding: 7px 1% ;
    width: 80%;
    border: 1px solid #CCC;
  }
  #chat button.btn.submit {
    width: 15% !important;
  }

.post__message hr {
  margin-bottom: 3px;
  visibility: hidden;
}
.post__message span {
    display: inline-block;
    width: 100px;
}
.post__message label.buy,
.post__message label.sell,
.post__message label.product,
.post__message label.service {
  border: 1px solid #338888;
  padding: 3px 10px 3px 8px;
  margin:0px 5px;
  color: #338888;
  border-radius: 5px;
  background: #F5F5F5;
}
.post__message input[type="radio"] {
  margin-right: 10px;
}
.post__message input[type="submit"] {
  margin-right: 10px;
}
.post__message input[type="text"] {
  padding: 10px 10px;
  margin:0px 5px;
  width: 70%;
  border: 1px solid #338888;
  border-radius: 5px;
}
